#banner {
justify-content: center;
background-color: black;
color: white;
height: 80px;
padding: 15px;
}

#citiesDiv {
    margin-left: 10px;
}

#forecastDiv {
    bottom: 30px;
    left: 30%;
    width: 650px;
    height: 280px;
}

#fiveDayDiv {
    left: 30%;
    margin-top: 20px;
    padding: 0;
}

#fiveDay {
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 250px;
    width: 180px;
}

.hidden {
    display: none;
}